body {
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1 {
    font-size: 36px;
    color: #00274C;
    text-align: center;
    margin-top: 0px;
}

h2 {
    border-top: 2px solid #000;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 28px;
    color: #00274C;
    margin-bottom: 10px;
}

header {
    background-color: #00274C;
    color: white;
    text-align:center;
    padding: 15px 20px;
    text-align: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    width:auto;
    height: 60px;
}

main {
    flex: 1;
    background: white;
    padding: 30px;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
}

ol {
    padding: 15px;
    margin-left: 20px;
}

main ul {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #00274C;
    color: white;
    margin-top: 30px;
    font-size: 14px;
}

footer a {
    color: #FFCB05;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.skip {
    position: absolute;
    top: -999px;
    left: 0;
    background-color: #FFCB05;
    color: #00274C;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #00274C;
    text-decoration: none;
}

.skip:focus {
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item h2{
    border-top: none;
    margin-top: 0;
}

/* 404 page styling */

.error-page {
    text-align: center;
    padding: 50px 20px;
}

.error-page h1 {
    font-size: 80px;
    font-weight: bold;
    color: #00274C;
}

.error-page h2 {
    font-size: 28px;
    color: #00274C;
}

.error-page p {
    font-size: 18px;
    color: #333;
}


/* Navigation */
/* Code for hamburger menu came from this youtube video - https://www.youtube.com/watch?v=aNDqzlAKmZc&ab_channel=Treehouse */

.desktop-nav {
    display: none;
}

.off-screen-menu{
    background-color: #00274C;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position:fixed;
    top:0;
    right: -999px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:3rem;
    transition: .3s ease;
}

.off-screen-menu.active{
    right:0;
}

.off-screen-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.off-screen-menu ul li {
    margin: 0 15px;
    padding: 0;
    border-bottom: none;
}

.off-screen-menu ul li a {
    padding: 12px 18px;
    border-radius: 5px;
    display: auto;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.off-screen-menu ul li a:hover, 
.off-screen-menu ul li a:focus, 
.off-screen-menu ul li a.active {
    background-color: #FFCB05;
    color: #00274C;
}

.ham-nav {
    padding: 1rem;
    display:flex;
}

.ham-menu{
    height: 50px;
    width:50px;
    margin-left: auto;
    position: relative;
}

.ham-menu:hover{
    cursor: pointer;
}

.ham-menu:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1){
    top:25%;
}

.ham-menu span:nth-child(3){
    top:75%;
}

.ham-menu.active span:nth-child(1){
    top:50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top:50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}


@media screen and (min-width: 768px){
    .desktop-nav{
        display: block;
    }

    .desktop-nav ul {
        list-style-type: none;
        padding:0;
        margin: 0;
        display: flex;
    }

    .desktop-nav ul li {
        margin: 0 15px;
        padding: 0;
        border-bottom: none;
    }

    .desktop-nav ul li a {
        padding: 12px 18px;
        border-radius: 5px;
        display: auto;
        font-size: 18px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    .desktop-nav ul li a:hover, 
    .desktop-nav ul li a:focus, 
    .desktop-nav ul li a.active {
        background-color: #FFCB05;
        color: #00274C;
    }

    .off-screen-menu{
        display: none;
    }

    .ham-nav{
        display: none;
    }
    
} 